.CreateTodoButton {
  /* background-color: #677C8F; */
  background-color: #A9C4DB;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  font-weight: bold;
  position: fixed;
  right: 24px;
  bottom: 24px;
  color: white;
  display: flex;
  justify-content: center;
  height: 64px;
  width: 64px;
  transform: rotate(0);
  transition: ease .2s;
  z-index: 1;
}

.CreateTodoButton:hover {
  transform: rotate(224deg);
}