.TodoItem {
  color: #678F75;
  background-color: #DBC1B4;
  padding: 1px;
  margin-top: 15px;
  border-radius: 2px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 90%;
}

.flexItem {
  flex: 1;
}
.Icon {
  cursor: default;
}

.DeleteButton {
  color: rgba(255, 0, 0, 0.753);
}

.DeleteButton:hover {
  color: rgba(156, 0, 0, 0.582);
}

.CompleteButton {
  color: rgb(0, 194, 0);
}

.CompleteButton:hover {
  color: green;
}

.TodoItem-p--complete {
  text-decoration: line-through;
}
