.loadingContainer {
  width: 100%;
  padding-top: 50px;
  text-align: center;
  animation: colorChange 4s linear infinite;
}
.loadingIcon {
  height: 100px;
  width: 100px;
  text-align: center;
  animation: rotateIcon 1.5s linear infinite;
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    width: 150px;
    transform: rotate(360deg);
  }
}

@keyframes colorChange {
  0%, 100% {
    color: #BFDBC9 /* Change to your initial color */
  }
  25% {
    color: #DBC1B4;
  }
  50% {
    color: #BFDBC9;
  }
  75% {
    color: #DBC1B4;
  }
}